<h1>Trainingen</h1>
<div class="trainings-list">
  <% @trainings.each do |training| %>
    <div class="training-card">
      <h3><%= training.title %> (<%= training.date.strftime("%d %B %Y %H:%M") %>)</h3>
      <p><%= training.description %></p>
      <% if logged_in? %>
        <turbo-frame id="attendance_status_<%= training.id %>">
          <%= render partial: "attendances/status", locals: { training: training, attendance: training.attendances.find_by(user: current_user) } %>
        </turbo-frame>
      <% end %>
    </div>
  <% end %>
</div> 