<div id="<%= dom_id presence %>">
  <p>
    <strong>Session:</strong>
    <%= presence.session_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= presence.name %>
  </p>

  <p>
    <strong>User:</strong>
    <%= presence.user_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= presence.status %>
  </p>

</div>
