<div id="<%= dom_id session %>">
  <p>
    <strong>Group:</strong>
    <%= session.group_id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= session.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= session.description %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= session.start_time %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= session.end_time %>
  </p>

  <p>
    <strong>Trainer name:</strong>
    <%= session.trainer_name %>
  </p>

</div>
