<h1><%= @group.name %></h1>

<p><strong>Hoofdtrainer:</strong> <%= @group.hoofdtrainer ? @group.hoofdtrainer.email : 'Geen hoofdtrainer' %></p>
<p><strong>Medetrainer:</strong> <%= @group.medetrainer ? @group.medetrainer.email : 'Geen medetrainer' %></p>

<h2>Members</h2>
<ul>
  <% @group.users.each do |user| %>
    <li>
      <%= user.name %>
      <%= button_to 'Verwijderen', remove_member_group_path(@group, user_id: user.id), method: :delete, data: { confirm: 'Weet je zeker dat je deze loper uit de groep wilt verwijderen?' }, form_class: 'inline', class: 'theme-btn', style: 'padding:0.2em 1em;font-size:0.95em;background:#e74c3c;color:#fff;margin-left:1em;' %>
    </li>
  <% end %>
</ul>

<h3>Lopers toevoegen aan deze groep</h3>
<%= form_with url: add_members_group_path(@group), method: :post, local: true do |f| %>
  <%= f.collection_select :user_ids, User.where.not(id: @group.user_ids), :id, :email, {}, multiple: true, size: 6 %>
  <%= f.submit "Toevoegen" %>
<% end %>

<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
