<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user.errors.count, "fout") %> verhinderde dat deze loper werd opgeslagen:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, "Naam", style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :email, "E-mailadres", style: "display: block" %>
    <%= form.text_field :email %>
  </div>

  <div>
    <%= form.label :status_id, "Status", style: "display: block" %>
    <%= form.collection_select :status_id, Status.all, :id, :name, prompt: 'Kies status' %>
  </div>

  <div>
    <%= form.label :phone, "Telefoonnummer", style: "display: block" %>
    <%= form.text_field :phone %>
  </div>

  <div>
    <%= form.label :emergency_contact, "Noodcontact", style: "display: block" %>
    <%= form.text_field :emergency_contact %>
  </div>

  <div>
    <%= form.label :birthday, "Geboortedatum", style: "display: block" %>
    <%= form.date_field :birthday %>
  </div>

  <div>
    <%= form.label :injury, "Blessure(s)", style: "display: block" %>
    <%= form.text_area :injury %>
  </div>

  <div>
    <%= form.label :photo_permission, "Toestemming voor foto's", style: "display: block" %>
    <%= form.check_box :photo_permission %>
  </div>

  <div>
    <%= form.label :role, "Rol", style: "display: block" %>
    <%= form.select :role, User.roles.keys.map { |r| [r.titleize, r] }, prompt: "Kies rol" %>
  </div>

  <div>
    <%= form.label :password, "Wachtwoord", style: "display: block" %>
    <%= form.password_field :password, autocomplete: "new-password" %>
  </div>

  <div>
    <%= form.label :password_confirmation, "Bevestig wachtwoord", style: "display: block" %>
    <%= form.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div>
    <%= form.label :csv_name, "CSV-naam (voor koppeling met historie)", style: "display: block" %>
    <%= form.text_field :csv_name %>
  </div>

  <div>
    <label style="display:block; font-weight:bold; margin-top:1em;">Trainingsdagen</label>
    <label style="margin-right:1.5em;">
      <%= check_box_tag 'user[training_days][]', 'Dinsdag', user.training_days.present? ? user.training_days.include?('Dinsdag') : true %> Dinsdag
    </label>
    <label>
      <%= check_box_tag 'user[training_days][]', 'Zaterdag', user.training_days.present? ? user.training_days.include?('Zaterdag') : true %> Zaterdag
    </label>
  </div>

  <div>
    <%= form.submit "Opslaan" %>
  </div>
<% end %>
