<div id="<%= dom_id user %>">
  <p>
    <strong>Naam:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong>E-mailadres:</strong>
    <%= user.email %>
  </p>

  <p>
    <strong>Telefoonnummer:</strong>
    <%= user.phone %>
  </p>

  <p>
    <strong>Noodcontact:</strong>
    <%= user.emergency_contact %>
  </p>

  <p>
    <strong>Geboortedatum:</strong>
    <%= user.birthday %>
  </p>

  <p>
    <strong>Blessure(s):</strong>
    <%= user.injury %>
  </p>

  <p>
    <strong>Toestemming voor foto's:</strong>
    <%= user.photo_permission ? 'Ja' : 'Nee' %>
  </p>

</div>
