<%== %>

<p style="color: green"><%= notice %></p>

<%# BEGIN FLEXBOX BLOK %>
<div class="profile-flex" style="display:flex; flex-wrap:wrap; gap:2em; align-items:flex-start;">
  <div style="flex:1 1 320px; min-width:260px; max-width:400px;">
    <h1><%= @user.name %></h1>
    <p>Status: <%= @user.status&.name || 'onbekend' %></p>
    <p>Email: <%= @user.email %></p>
    <p>Phone: <%= @user.phone %></p>
    <p>Birthday: <%= @user.birthday.present? ? @user.birthday.strftime('%d-%m-%Y') : '' %></p>
    <p>Emergency Contact: <%= @user.emergency_contact %></p>
    <p>Group: <%= @user.groups.first&.name || 'No group assigned' %></p>
    <p>Hoofdtrainer: <%= @user.groups.first&.hoofdtrainer&.email || 'Geen hoofdtrainer' %></p>
    <p>Medetrainer: <%= @user.groups.first&.medetrainer&.email || 'Geen medetrainer' %></p>
    <div>
      <%= link_to 'Edit', edit_user_path(@user) %> |
      <%= link_to 'Back', users_path %>
    </div>
  </div>
  <div style="flex:1 1 320px; min-width:260px; max-width:500px;">
    <% if @performances.any? %>
      <% laatste = @performances.order(:date).last %>
      <% if laatste %>
        <div style="background:rgba(30,40,40,0.95); color:#fff; border-radius:12px; padding:1.5em; margin-bottom:2em;">
          <strong style="font-size:1.3em;display:block;margin-bottom:0.7em;">Conditie</strong>
          <strong>Duurloop 85% (gemiddelde):</strong> <%= begin; @user.gemiddelde_dl2_85; rescue => e; 'FOUT: ' + e.message; end %><br>
          <strong>Intervaltempo (min/km):</strong> <%= begin; @user.gemiddelde_tempo_per_km; rescue => e; 'FOUT: ' + e.message; end %><br>
          <hr style="border:1px solid #444; margin:1.2em 0 0.7em 0;">
          <strong style="font-size:1.1em; color:#6ee75a; display:block; margin-bottom:0.5em;">Anaerobe drempel</strong>
          <span style="font-size:1.15em;"><%= begin; @user.gemiddelde_ad; rescue => e; 'FOUT: ' + e.message; end %></span><br>
          <hr style="border:1px solid #444; margin:1.2em 0 0.7em 0;">
          <strong style="font-size:1.1em; color:#6ee75a; display:block; margin-bottom:0.5em;">AD Historie</strong>
          <% @performances.order(:date).last(10).reverse.each do |p| %>
            <%= p.date&.strftime('%d-%m-%Y') %>: <%= begin; ad(p); rescue => e; 'FOUT: ' + e.message; end %><br>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
<%# EINDE FLEXBOX BLOK %>

<style>
.profile-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  align-items: flex-start;
}
@media (max-width: 900px) {
  .profile-flex {
    flex-direction: column !important;
    gap: 0.5em !important;
  }
}
</style>
