<div id="<%= dom_id training_schedule %>">
  <p>
    <strong>Group:</strong>
    <%= training_schedule.group_id %>
  </p>

  <p>
    <strong>Weekday:</strong>
    <%= training_schedule.weekday %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= training_schedule.start_time %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= training_schedule.end_time %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= training_schedule.location %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= training_schedule.active %>
  </p>

</div>
