<div id="<%= dom_id photo %>">
  <p>
    <strong>User:</strong>
    <%= photo.user_id %>
  </p>

  <p>
    <strong>Training:</strong>
    <%= photo.training_id %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= photo.image %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= photo.description %>
  </p>

</div>
