<h1>Log trainingresultaat</h1>

<h3><%= @training_session.description.presence || @training_session.dag || @training_session.date.strftime('%A %d %B %Y') %></h3>

<p><strong>Kern</strong></p>
<ul>
  <% human_core(@training_session.structured_core, current_user).each do |line| %>
    <li><%= line %></li>
  <% end %>
</ul>

<%= form_with model: @training_result, url: training_results_path, local: true do |f| %>
  <%= f.hidden_field :training_session_id, value: @training_session.id %>
  <div class="app-form-group">
    <%= f.label :time, 'Tijd (mm:ss of hh:mm:ss)' %>
    <%= f.text_field :time, class:'app-form-input' %>
  </div>
  <div class="app-form-group">
    <%= f.label :distance, 'Afstand (km)' %>
    <%= f.number_field :distance, step:0.01, class:'app-form-input' %>
  </div>
  <div class="app-form-group">
    <%= f.label :notes, 'Notities' %>
    <%= f.text_area :notes, rows:4, class:'app-form-input' %>
  </div>
  <%= f.hidden_field :structured_core, value: @training_session.structured_core.to_json %>
  <%= f.submit 'Opslaan', class:'app-btn', style:'background:#34c759;color:#fff;' %>
<% end %>

<%= link_to 'Annuleren', mijn_trainingen_path, class:'app-btn', style:'margin-top:1rem;' %> 