<%= form_with(model: training_route) do |form| %>
  <% if training_route.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(training_route.errors.count, "error") %> prohibited this training_route from being saved:</h2>

      <ul>
        <% training_route.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :training_id, style: "display: block" %>
    <%= form.text_field :training_id %>
  </div>

  <div>
    <%= form.label :route_id, style: "display: block" %>
    <%= form.text_field :route_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
