<%= form_with(model: performance) do |form| %>
  <% if performance.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(performance.errors.count, "error") %> prohibited this performance from being saved:</h2>

      <ul>
        <% performance.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if performance.user_id.present? %>
    <%= form.hidden_field :user_id %>
  <% else %>
    <div>
      <%= form.label :user_id, 'Loper', style: 'display: block' %>
      <%= form.collection_select :user_id, User.order(:name), :id, :name, prompt: 'Kies loper', required: true %>
    </div>
  <% end %>

  <div>
    <%= form.label :test_type, 'Onderdeel', style: 'display: block' %>
    <%= form.text_field :test_type, required: true %>
  </div>

  <div>
    <%= form.label :distance, 'Afstand (meters)', style: 'display: block' %>
    <%= form.number_field :distance, min: 1, step: 1, required: true %>
  </div>

  <div>
    <%= form.label :value, 'Tijd (uu:mm:ss)', style: 'display: block' %>
    <%= form.text_field :value, placeholder: '00:00:00', required: true %>
  </div>

  <div>
    <%= form.label :date, style: "display: block" %>
    <%= form.date_field :date %>
  </div>

  <div>
    <%= form.label :core_heart_rate, 'Gemiddelde hartslag kern (bpm)', style: "display: block" %>
    <%= form.number_field :core_heart_rate, min: 0, step: 1, placeholder: 'Optioneel' %>
  </div>

  <div>
    <%= form.label :notes, style: "display: block" %>
    <%= form.text_area :notes %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
