<div id="<%= dom_id performance %>">
  <p>
    <strong>User:</strong>
    <%= performance.user_id %>
  </p>

  <p>
    <strong>Test type:</strong>
    <%= performance.test_type %>
  </p>

  <p>
    <strong>Value:</strong>
    <%= performance.value %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= performance.date %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= performance.notes %>
  </p>

</div>
