<!DOCTYPE html>
<html>
<head>
  <title></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap" rel="stylesheet">
  <%= stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  <%= favicon_link_tag 'RunForFun-zwart.svg' %>
</head>
<body>
  <header class="theme-header">
    <%= link_to root_path, class: 'theme-header__logo-link' do %>
      <%= image_tag 'RunForFun-zwart.svg', alt: 'Run For Fun logo', class: 'theme-header__logo', size: '48x48' %>
    <% end %>
    <span class="theme-header__title">Hardlopen met Virgil</span>
  </header>
  <nav class="theme-menu">
    <div class="theme-menu__inner">
      <a href="/" class="theme-btn">Home</a>
      <a href="/photos" class="theme-btn">Foto's</a>
      <a href="/about" class="theme-btn">Over</a>
      <a href="/contact" class="theme-btn">Contact</a>
      <a href="/trainings" class="theme-btn">Trainingen</a>
      <% if logged_in? && ["trainer", "admin"].include?(current_user.role) %>
        <a href="/trainers" class="theme-btn">Trainers</a>
      <% end %>
      <% if logged_in? %>
        <%= link_to "Logout", logout_path, method: :delete, class: "theme-btn" %>
        <span style="color: #fff; font-size: 1rem;">Logged in as: <%= current_user.name %></span>
      <% else %>
        <a href="/login" class="theme-btn">Login</a>
        <a href="/register" class="theme-btn">Register</a>
      <% end %>
    </div>
  </nav>

  <main class="theme-main">
    <% if flash[:notice] %>
      <div class="notice"><%= notice %></div>
    <% end %>
    <% if flash[:alert] %>
      <div class="alert"><%= alert %></div>
    <% end %>
    <%= yield %>
  </main>

  <footer class="theme-main">
    <p>&copy; 2025 Hardlopen met Virgil. Alle rechten voorbehouden.</p>
  </footer>
</body>
</html>
